.signup-container {
    max-width: 400px;
    margin: 0 auto;
    margin-top: 150px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .signup-container  h1 {
    text-align: center;
    font-size: 1rem;
  }
  
  .signup-container  form {
    display: flex;
    flex-direction: column;
  }
  
  .signup-container  input {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .signup-container  button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .signup-container .error-message {
    color: red;
  }
  
  .signup-container .success-message {
    color: green;
  }
  