.discussion {
    width: 900px;
    height: 80%;
    max-height: 800px;
    margin:auto auto;
    display: flex;
    justify-content: flex-end;
    margin-top: 120px;

}

@media screen and (max-width: 767px) {
    .discussion {
      width: 99%; 
      margin: 120px 0px; 
    }
  }


.addDisc{
    position: absolute;
    top:10;
    right: 0;
    z-index: 10;
}

.Disc{
    border: 1px solid grey;
    max-width: 600px;
    margin: 2px;
    border-radius: 5px;
    padding: 0 10px;
}

.D-topic{
    font-weight: 500;
    box-shadow: 1px 2px 3px grey;
    width: fit-content;
    border-radius: 5px;
    padding: 4px 6px;
}


.D-info{
    display: flex;
    justify-content: space-between;
    margin: 1px;
    padding: 1px 1px;
    margin-top: -19px;
    font-size: 12px;
}

.D-info p{
    color: grey;
    line-height: 0;

}

.D-reply{
    font-size: 13px;
}

.D-rep{
    border: 1px solid grey;
    width: max-content;
    text-align: center;
    align-items: center;
    align-content: center;
    display: flex;
    border-radius: 5px;
}

.D-rep input{
    border: none;
    outline: none;
}

.D-rep button{
    outline: none;
    border: none;
    background: none;
    align-items: center;
}

.ask{
    width: max-content;
    border: 1px solid black;
}

.ask input{
    outline: none;
    border: none;
    height: 35px;
    width: 200px;
    outline-width: 1px;
}

.D-replies{
    margin: 5px;
    border-radius: 5px;
    padding: 0 2px;
    /* box-shadow: 1px 1px 1px grey; */
    border: 1px solid rgb(235, 210, 210);
}

.D-replyName{
    box-shadow: 1px 1px 1px grey;
    width: max-content;
    border-radius: 4px;
    font-size: 12px;
    padding: 1px;
    /* border: 1px solid grey; */
}

.D-replied{
    text-align: justify;
}

.D-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    margin-top: -20px;
}

.D-footer p{
    color: grey;
}