.discussion {
    width: 900px;
    height: 80%;
    max-height: 800px;
    margin: auto auto;
    margin-top: 120px;

}

@media screen and (min-width: 767px) {
    .discussion {
        width: 75vw;
        margin-top: 120px;
        margin-left: 25vw;
    }
}


@media screen and (max-width: 767px) and (min-width: 500px) {
    .discussion {
        width: 70vw;
        margin-top: 120px;
        margin-left: 30vw;
    }
}

@media screen and (max-width: 500px) {
    .discussion {
        width: 96vw;
        margin-top: 120px;
    }
}


.addDisc {
    position: absolute;
    z-index: 10;
    margin-top: -40px;
    margin-left: 200px;
}

.Disc {
    border: 1px solid grey;
    max-width: 600px;
    margin: 2px;
    border-radius: 5px;
    padding: 0 10px;
}

.D-topic {
    font-weight: 500;
    box-shadow: 1px 2px 3px grey;
    width: fit-content;
    border-radius: 5px;
    padding: 4px 6px;
}


.D-info {
    display: flex;
    justify-content: space-between;
    margin: 1px;
    padding: 1px 1px;
    margin-top: -19px;
    font-size: 12px;
}

.D-info p {
    color: grey;
    line-height: 0;

}

.D-reply {
    font-size: 13px;
}

.discussion svg:hover {
    cursor: pointer;
    display: inline-block;
    padding: 1px 2px;
    /* font-size: 16px; */
    font-weight: bold;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    background-color: red;
    /* border: 2px solid #007bff; */
    border-radius: 8px;
    /* transition: all 1ms ease-in-out; */
    cursor: pointer;
}

.D-rep {
    display: flex;
    justify-content: flex-start;
}

.D-rep textarea {
    border: 1px solid grey;
    width: max-content;
    /* text-align: center; */
    align-items: center;
    align-content: center;
    display: flex;
    border-radius: 5px;
}

.D-rep textarea {
    outline: none;
    resize: none;
    height: 17px;
    width: 150px;
}

.D-rep textarea:focus {
    transition: 0.7s ease;
    width: 300px;
    height: 100px;
}

.D-rep textarea:not(:focus) {
    transition: all 2s ease;
}

.D-rep button {
    outline: none;
    border: none;
    background: none;
    align-items: center;
    /* margin-left: 100px !important ; */
}

.ask {
    width: max-content;
    border: 1px solid black;
}

.ask input {
    outline: none;
    border: none;
    height: 35px;
    width: 200px;
    outline-width: 1px;
}

.D-replies {
    margin: 5px;
    border-radius: 5px;
    padding: 0 2px;
    /* box-shadow: 1px 1px 1px grey; */
    border: 1px solid rgb(235, 210, 210);
}

.D-replyName {
    box-shadow: 1px 1px 1px grey;
    width: max-content;
    border-radius: 4px;
    font-size: 12px;
    padding: 1px;
    /* border: 1px solid grey; */
}

.D-replied {
    text-align: justify;
}

.D-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    margin-top: -20px;
}

.D-footer p {
    color: grey;
}

.d-search {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 40px !important;
    padding: 0 10px;
}

.d-search input {
    border: none;
    outline: none;
}

.d-search button {
    border: none;
    background-color: transparent;
    border-radius: 4px;
    /* Rounded corners */
    font-size: 14px;
    /* Font size */
    cursor: pointer;
    transition: all 03s ease;
    /* Add transition effect */
}

.d-search button:hover {
    background-color: #0056b3;
    /* Change background color when hovering */
}

.d-search button:focus {
    outline: none;
    /* Remove default focus outline */
    box-shadow: 0 0 0 3px rgba(18, 18, 19, 0.5);
    /* Add custom focus effect */
}

.no-reply {
    font-size: 12px;
    color: grey;
}