.main-home{
    display: flex;
    margin-top: 60px;
    position: relative;
    /* margin-left: 80vw; */
}

.content-feed{
    display: grid;
    /* grid-template-columns: 30vw 30vw; */
    gap: 5vw;
    margin-left: 20vw;

}

.content-feed div p {
    text-overflow: ellipsis;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.hh{
    margin-left: 400px;
}

@media screen and (max-width: 500px) {
    .content-feed{
        margin-left: auto;
    }
  }