.main-home{
    display: flex;
    margin-top: 60px;
    position: relative;
    /* margin-left: 80vw; */
}

.content-feed{
    display: grid;
    gap: 10px;
    margin-left: 130px;
    margin-top: 20px;
}

.content-feed div p {
    text-overflow: ellipsis;
    text-align: justify;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}


.hh{
    margin-left: 400px;
}

@media screen and (max-width: 500px) {
    .content-feed{
        margin-left: auto;
    }
  }