.videoPage {
  margin-top: 70px;
}

.video-feed {
  margin-left: 30vw;
  border: 1px solid grey;
  /* width: min-content; */
}

video {
  border-radius: 10px;
}

.video-feed {
  margin-left: 20vw;
  border: 1px solid grey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vw;
  padding: 20px;
  background-color: #f5f5f5;
}

.video-feed img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
  border-radius: 3%;
}

.v-top span {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-top: 5px;
  z-index: 10;
}

.v-data {
  display: flex;
  justify-content: space-between;
  color: grey;
  /* margin-top: -20px; */
}

.v-data p {
  font-size: 12px !important;
}

.video-feed h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: -4px;
}

.v-desc {
  font-size: 18px;
  text-align: justify;
  line-height: 1.5;
  margin-bottom: 20px;
  margin-top: -15px;
}

@media only screen and (max-width:500px){
  .video-feed{
    margin-left: 0;
    width: 95%;
    padding: 10px;
  }
}