
.user-style{
    margin-left: 150px;
    margin-top: 100px;
}

.user-info {
    /* margin-left: 20vw; */
    margin-top: 10vh;
}

.user-container {
    /* margin-left: 20vw; */
}



.tabs {
    display: flex;
    margin-bottom: 20px;
}

.tab {
    padding: 10px;
    margin-right: 10px;
    cursor: pointer;
    background-color: #f2f2f2;
    border-radius: 8px;
}

.tab.active {
    background-color: #ccc;
}

.content {
    margin-top: 20px;
}


@media only screen and (max-width:500px){
    .user-style{
        margin-left: 0px;
    }
}