.category{
    margin-left: 0vw;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* font-size: 2rem; */
    font-weight: bold;
    margin-top: 2rem;
  }