.category{
    margin-left: 0vw;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.tags-ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    list-style-type: none !important;
}


@media only screen and (max-width:500px){
    .tags-ul{
        grid-template-columns: auto auto;
        gap:2px;
        display: none;
    }

    .tags-ul button{
        font-size: 10px;
    }
}
