.category{
    margin-left: 0vw;
}

.category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.tags-ul {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 5px;
    list-style-type: none !important;
}
