.post{
    border: 1px solid grey;
    max-width: 30vw;
    border-radius: 10px;
}

.thumbimg{
    height: 200px;
}

.profilepic{
    border-radius: 50%;
    height: 40px;
    width: 40px;
}

.play{
    margin-top: -50px;
}

.play:hover{
    cursor: pointer;
}