.Navbar-main{
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
}

.Navbar-search{
    display: flex;
    align-items: center;
    margin-left: 100px;
    border: 1px solid grey;
    border-radius: 4px;
    padding: 5px 10px;
}

.searchbar{
    height: 30px;
    width: 30vw;
    border: 0px;
    outline: none;
}

.leftnav{
    background-color: rgb(243, 211, 211);
}

.navbar-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}