.Navbar-main {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    background-color: white;

}

.Navbar-search {
    display: flex;
    align-items: center;
    margin-left: 100px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 3px 10px;
    align-items: center;
}

.searchbar {
    height: 30px;
    width: 30vw;
    border: 0px;
    outline: none;
    background-color: transparent;
}

.searchInputButton {
    border: none;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
}

.auth {
    display: flex;
    gap: 10px;
}

.auth-right {
    display: flex;
    gap: 12px;
}


.leftnav {
    background-color: rgb(243, 211, 211);
}

.navbar-menu {
    display: flex;
    align-items: center;
    gap: 20px;
}

a {
    text-decoration: none;
    color: unset;
}


.menu-main {
    background-color: #F5F5F5;
    width: 180px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 10% !important;
    z-index: 1;
}

.menus {
    /* border: 1px solid grey; */
    box-shadow: 1px 1px 2px black;
    display: flex;
    /* margin-left: 10px; */
    align-items: center;
    gap: 5px;
    line-height: 1px;
    
    padding: 12px;
    /* border-radius: 4px; */
    transition: background-color 0.3s ease;
}


.menus:hover {
    /* background-color: wheat; */
    border-bottom: 1px solid black;
    background-color: #f2f2f2;
    cursor: pointer;
    color: darkblue;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}


.dialog-title-login {
    font-size: 24px;
    font-weight: bold;
    padding: 10px !important;
}

.dialog-content form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.dialog-content input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.dialog-actions button {
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
}

.dialog-actions button:hover {
    background-color: #0c7cd5;
}


.menu-main header{
    width: max-content !important;
    right: auto !important;
    background-color: transparent;
    box-shadow: none;
}

@media screen and (max-width: 500px) {
  .mobile {
    display: block;
    /* z-index: 20000000; */
    margin-top: 14%;
  }

  .notmob{
    display: none;
  }


  .menu-main {
    width: auto;
    height: auto;
}
}

@media screen and (min-width: 501px) {
  .mobile {
    display: none !important;
  }
}

.a23 svg{
    fill: black;
}

.a1{
    background-color: white;
}
