.Navbar-main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 1px 10px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
}

.Navbar-search{
    display: flex;
    align-items: center;
    margin-left: 100px;
    border: 1px solid grey;
    border-radius: 10px;
    padding: 3px 10px;
    align-items: center;
}

.searchbar{
    height: 30px;
    width: 30vw;
    border: 0px;
    outline: none;
    background-color: transparent;
}

.searchInputButton{
    border: none;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
}

.auth{
    display: flex;
    gap: 10px;
}

.auth-right{
    display: flex;
    gap: 12px;
}


.leftnav{
    background-color: rgb(243, 211, 211);
}

.navbar-menu{
    display: flex;
    align-items: center;
    gap: 20px;
}

.aa a{
    text-decoration: none;
}


.menu-main{
    background-color:rgb(217, 211, 203);
    width: 200px;
    height:100vh;
    position: fixed;
    left: 0;
    z-index: 1;
}

.menus{
    /* border: 1px solid grey; */
    box-shadow: 1px 1px 2px black;
    display: flex;
    margin-left: 10px;
    align-items: center;
    gap: 5px;
}

.menus:hover{
    background-color: wheat;
}


.dialog-title-login {
    font-size: 24px;
    font-weight: bold;
    padding: 10px !important;
  }
  
  .dialog-content form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
  }
  
  .dialog-content input {
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  }
  
  .dialog-actions button {
    background-color: #2196f3;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
  }
  
  .dialog-actions button:hover {
    background-color: #0c7cd5;
  }
  